body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

.layout {
	max-width: 1280px;
	margin: 0 auto;
}

.header {
  margin-bottom: -70px;
}

.header-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.header__logo {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  z-index: 1;
}

.header-info__text {
  margin: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.header-info__caption-name {
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: monospace;
  -webkit-transform: scale(1, 1.2);
  -ms-transform: scale(1, 1.2);
  -o-transform: scale(1, 1.2);
  transform: scale(1, 1.2);
}

.header-info__caption-label {
  font-size: .6em;
  text-transform: uppercase;
}

.header-info__phone {
  position: relative;
}

.header-info__phone::before {
  content: "";
  position: absolute;
  left: -70px;
  top: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../assets/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
  background-size: contain;
}

.header-info__phone-number {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.2;
}

.header-info__phone-label {
  font-size: 0.8em;
  font-weight: 600;
  color: #424242;
}

.header-menu {
  margin: 0 auto;
  padding: 10px 0;
  background-color: #ea7c00;
  -webkit-transform: translate(0, -94px);
  -ms-transform: translate(0, -94px);
  -o-transform: translate(0, -94px);
  transform: translate(0, -94px);
}

.header-menu__row {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  width: 750px;
  margin-left: 200px;
}
.header-menu__row:nth-child(2) {
  width: 700px;
  margin-left: 230px;
}

.header-menu__item {
  position: relative;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
}

.header-menu__submenu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  background-color: #ea7c00;
  z-index: 2;
  -webkit-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}

.header-menu__submenu-item {
  padding: 10px 20px;
  position: relative;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.header-menu__submenu-item:hover {
  background-color: #0069b3;
}

.header-menu__item:hover .header-menu__submenu {
  max-height: 300px;
  overflow: visible;
}

.header-submenu__submenu {
  position: absolute;
  left: 100%;
  top: 0;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  background-color: #ea7c00;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header-menu__submenu-item:hover .header-submenu__submenu {
  max-width: 200px;
  overflow: visible;
}

.header-submenu__submenu-item {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.header-submenu__submenu-item:hover {
  background-color: #0069b3;
}

.item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: .9em;
}

.item__imgs {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 250px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid #ddd;
}

.item__img-sec {
  border: 1px solid #ddd;
  margin: 20px 10px 10px;
}

.item__info {
  margin-left: 20px;
  flex-grow: 1;
}

.item__caption {
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 15px;
}

.item__buy-text {
  margin: 0 20px;
}

.item__buy-item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  background-color: #ddd;
  font-size: 2em;
  -ms-align-items: center;
  align-items: center;
}

.item__buy-button.button {
  font-weight: 500;
  font-size: .9em;
  border: none;
  padding: 10px 30px;
}



.item-char__img {
  padding-top: 40px;
}

.item__title {
  font-weight: 600;
  margin: 15px 0;
}

.item-info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item__text p {
  margin: 5px 0;
}

.item__characteristics {
  width: 400px;
}

.item__description {
  width: 400px;
}

.item__description-title {
  text-align: center;
}

.full-char {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 150px;
}

.full-char__item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 400px;
  position: relative;
  overflow: hidden;
  margin-right: 40px;
}

.full-char__item-name {
  position: relative;
  background-color: #fff;
  z-index: 2;
}

.full-char__item-value {
  position: relative;
  background-color: #fff;
  z-index: 2;
  padding: 0 2px;
  right: -2px;
}

.full-char__item-dot:before {
  content: "....................................................................................................";
  position: absolute;
  display: inline-block;
  left: 0;
  font-size: 1.1em;
  letter-spacing: 5px;
}

.full-desc__item {
  max-width: 400px;
}

.item__full-box {
  width: 900px;
}

.item__full-desc {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  max-height: 1000px;
  margin-top: 40px;
}

.item__full-desc .item__title {
  margin-bottom: 0;
}














.feedback {
  font-size: 0.8em;
}

.caption {
  font-size: 1.5em;
  font-weight: 600;
  margin: 30px 0 20px;
}

.feedback-item {
  margin: 25px 0;
}

.feedback-item__info {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: baseline;
  align-items: baseline;
}

.feedback-item__date {
  margin: 0 10px;
}

.feedback-item__stars {
  margin-left: 20px;
  width: 15px;
  height: 15px;
  background-image: url("../assets/001-star-1.svg");
  -webkit-background-size: content;
  background-size: content;
}

.feedback-item__stars_5 {
  width: 75px;
}

.feedback-form__stars {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin: 15px 0;
}

.input-radio {
  display: none;
}

.input-radio__label {
  display: inline-block;
  height: 15px;
  background-image: url("../assets/002-star.svg");
  -webkit-background-size: contain;
  background-size: contain;
  cursor: pointer;
}

.input-radio__label_1 {
  width: 15px;
}

.input-radio__label_2 {
  width: 30px;
}

.input-radio__label_3 {
  width: 45px;
}

.input-radio__label_4 {
  width: 60px;
}

.input-radio__label_5 {
  width: 75px;
}

#star-1:checked ~ .input-radio__label_1 {
  background-image: url("../assets/001-star-1.svg");
}

#star-2:checked ~ .input-radio__label_2 {
  background-image: url("../assets/001-star-1.svg");
}

#star-3:checked ~ .input-radio__label_3 {
  background-image: url("../assets/001-star-1.svg");
}

#star-4:checked ~ .input-radio__label_4 {
  background-image: url("../assets/001-star-1.svg");
}

#star-5:checked ~ .input-radio__label_5 {
  background-image: url("../assets/001-star-1.svg");
}

.feedback-form__stars-text {
  margin-right: 5px;
}

.delimer {
  display: inline-block;
  position: relative;
  top: 1px;
  width: 1px;
  height: 17px;
  margin: 0 5px;
  border-right: 1px solid #000;
}

.feedback-form__input {
  width: 200px;
  font-size: 1.2em;
  margin: 10px 0;
}

.feedback-form__text {
  font-size: 1.2em;
  margin: 10px 0;
  max-width: 1024px;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.feedback-form__button-box {
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: #006cb5;
  background: linear-gradient(to top, #0053a1, #0274bd);
  color: #fff;
  font-weight: 600;
  border: 1px solid #ec7c00 ;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.button:hover {
  background: linear-gradient(to top, #0274bd, #0053a1);
}

@media screen and (max-width: 1024px) {
  .layout {
    padding: 0 20px;
  }
  .header {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  .item {
    text-align: center;
  }
  .item__info {
    margin-left: 0;
  }
  .item__full-box {
    width: 100%;
  }
  .full-char {
    max-height: inherit;
  }
  .item__full-desc {
    max-height: inherit;
  }
  .item__characteristics, .item__description {
    margin: 0 auto;
  }
  .full-char {
    -ms-align-items: center;
    align-items: center;
  }
  .item__full-desc {
    align-items: center;
    text-align: left;
  }
}

@media screen and (max-width: 480px) {
  .feedback-form__stars {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .feedback-item__info {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .item__buy-item {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .item__buy-text {
    word-wrap: break-word;
  }
  .item__characteristics, .item__description {
    width: 100%;
  }
  .full-char__item {
    width: 100%;
    margin-right: 0px;
  }
  .full-char__item-name {
    text-align: left;
  }
  .full-char__item-value {
    text-align: right;
  }
  .item__buy-button.button {
    margin: 0 auto;
  }
}